<div class="lessons-etc" id="comments">
    <br>
    <br>
    <p>
        <img src="/images/comment_icon_final_bold.gif" 
            height=20px 
            align=center 
            style="padding-right:20px"> 
        <span style="color:#979797">   Write an anonymous response . . .</span> 
    </p>
    <form action="/sign?"{{wall}} method="post">
        <div>
			<textarea name="content" rows="3" cols="60" {% if error %} style="border-color:red" {% endif %} ></textarea>
			<br>
        </div>
        <div style="color: red">{{error}}</div>
        <div>
            <input type="submit" value="publish">
            <br>
            <br>
            Responses
            <div style="height:.5em"></div>
        </div>
    </form>
    <!-- user comments start here -->
    <div class=responses>
        <!-- {{formatted_posts}} -->

        {% for post in posts %}
            <blockquote class=ind_responses>
            {% autoescape true %}
				{{post.content}} <!-- cgi.escape(post.content) -->
            {% endautoescape %}
            </blockquote>
        {% endfor %}
        
    </div>
</div>