<div class="lessons-etc">
    <br>
    <br>
    <p>
        <img src="/images/comment_icon_final_bold.gif" 
            height=20px 
            align=center 
            style="padding-right:20px"> 
        <span style="color:#979797">   Write an anonymous response . . .</span> 
    </p>
    <form action="/sign?"{{wall}} method="post">
        <div>
            <textarea name="content" rows="3" cols="60"></textarea>
            <br>
        </div>
        <div style="color: red">{{error}}</div>
        <div>
            <input type="submit" value="publish">
            <br>
            <br>
            Responses
            <div style="height:.5em"></div>
        </div>
    </form>
    <!-- user comments start here -->
    <div class=responses>
        {{formatted_posts}}
    </div>
</div>